@media only screen and (max-width: 1000px) {
    
    .searchModeSelectionScreen .gridContainer {
    
        display: block;

    }
    
    .searchModeSelectionScreen .searchBarContainer {

        position: absolute;
        width: calc(100% - 70px);
        max-width: 1000px;
        margin: auto;
        
    }
    
    .searchModeSelectionScreen .searchResultsContainer {
        
        position: absolute;
        top: 167px;
        right: 20px;
        width: calc(50% - 40px);
        height: calc(100% - 237px);
        left: 50%;
        right: auto;
        width: calc(100% - 70px);
        max-width: 1000px;
        
        opacity: 0;
        transform:
            translate(calc(100% + 20px), 0)
            scale(0.75);
        
    }
    
    .searchModeSelectionScreen.searchBarActive .searchResultsContainer {

        opacity: 100%;
        transform: translate(-50%);

    }
    
    .searchModeSelectionScreen .searchByReferenceContainer {
        
        position: absolute;
        top: 167px;
        left: 50%;
        width: calc(100% - 40px);
        max-width: 1000px;
        height: calc(100% - 237px);
        margin-top: 20px;
        
        transform: translate(-50%, 0);
        
    }
    
    .searchModeSelectionScreen.searchBarActive .searchByReferenceContainer {
    
        opacity: 0;
        transform:
            translate(calc(-100% - 20px), 0)
            scale(0.75);

    }
    
    .searchModeSelectionScreen .searchByReferenceContainer .selectionContainer {
    
        width: calc(100% - 30px);
        
    }
    
}

@media only screen and (max-width: 730px) {
    
    .verseDisplay .textContainer p {
        
        font-size: 18px;
        
    }
    
    .verseDisplayScreen .key {
        
        width: 350px;
        height: 50px;
        bottom: 120px;
        bottom: calc(env(safe-area-inset-bottom) + 120px);
        opacity: 0;
        
    }
    
    .verseDisplay.highlightPrejump:not(.up) ~ .key,
    .verseDisplay.highlightRareWords:not(.up) ~ .key {

        opacity: 1;

    }
    
}

@media only screen and (max-width: 695px) {
    
    .verseDisplay.up {
        
        top: 180px;
        
    }
    
    .verseDisplayScreen > .headerContainer {
        
        height: 165px;
        width: calc(100% - 40px);
        overflow-y: scroll;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        
    }
    
    .verseDisplayScreen .headerContainer .verseButton {
        
        width: calc(50% - 10px);
        height: 40px;
        
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        
    }
    
    .verseDisplayScreen .headerContainer .verseButton:last-child {
    
        flex-direction: row-reverse;
        
    }
    
    .verseDisplayScreen .headerContainer .verseButton img {
    
        margin: 2px 0 0 0 !important;
        height: 30px;
        
    }
    
    .verseDisplayScreen .headerContainer .miniVerseTitleContainer {
        
        display: block;
        background: var(--content-background-color);
        border-radius: 20px;
        padding: 15px;
        height: 100px;
        width: calc(100% - 220px);
        box-sizing: border-box;
        margin: 0 10px;

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        
    }
    
    .verseDisplayScreen .headerContainer .miniVerseTitleContainer .title {
    
        width: 100%;
        margin-bottom: 5px;
        
        transition: all 0.2s ease;
        
    }
    
    .verseDisplayScreen .headerContainer .miniVerseTitleContainer .subtitle {
    
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        font-size: 18px;
        
        transition: all 0.2s ease;
        
    }
    
    .verseDisplayScreen .headerContainer .miniVerseTitleContainer .subtitle.hidden {
    
        display: none;
        
    }
    
    .verseDisplayScreen .headerContainer .miniVerseTitleContainer .subtitle .tag {

        color: var(--memory-element-color);
        border: 2px solid var(--memory-element-color);
        padding: 1px 3px;
        border-radius: 5px;
        margin-right: 3px;
        font-size: 90%;

    }
    
    .verseDisplayScreen .headerContainer .verseTitleContainer {
    
        display: none;
        
    }
    
    .verseDisplayScreen .headerContainer .verseTitleContainer,
    .verseDisplayScreen .headerContainer .button {
        margin: 0 5px;
    }
    
    .verseDisplayScreen .verseDisplay .textContainer p {
        margin-bottom: 0;
    }
    
    .slidePanel {
        
        bottom: 20px;
        bottom: calc(env(safe-area-inset-bottom) + 20px);
        
    }
    
    .slidePanel:not(.hidden) ~ .toolbarContainer {
    
        display: none;
        
    }
    
}

@media only screen and (max-width: 495px) {
    
    .verseDisplayScreen .key {
        
        width: calc(100% - 40px);
        height: 42px;
        bottom: 120px;
        bottom: calc(env(safe-area-inset-bottom) + 120px);
        
    }
    
    .verseDisplay {
    
        top: calc(50vh + 8px);
        
    }
    
    .verseDisplayScreen .toolbarContainer {
    
        overflow-y: scroll;
        height: 90px;
        width: 100%;
        left: 0;
        display: flex;
        
        -ms-overflow-style: none;
        scrollbar-width: none;
        
    }
    
    .verseDisplayScreen .toolbarContainer::-webkit-scrollbar {
        display: none;
    }
    
    /* Fix for missing whitespace */
    .verseDisplayScreen .toolbarContainer::after {
    
        content: " ";
        flex: 0 0 20px;
        
    }
    
    .verseDisplayScreen .toolbarContainer .toolbar {
        
        position: static;
        display: inline-flex;
        
    }
    
    .verseDisplayScreen .toolbarContainer .toolbar.left {
        
        border-radius: 15px 0 0 15px;
        padding-right: 0;
        margin-left: 20px;
        
    }
    
    .verseDisplayScreen .toolbarContainer .toolbar.left .divider {
    
        display: block;
        
    }
    
    .verseDisplayScreen .toolbarContainer .toolbar.right {
        
        border-radius: 0 15px 15px 0;
        
    }
    
    .slidePanel .pronounClarification .listItem {
        
        flex-wrap: wrap;
        justify-content: center;
        
    }
    
    .slidePanel .pronounClarification .listItem .reference {
    
        width: 100%;
        text-align: center;
        
    }
    
}

@media only screen and (max-width: 415px) {
    
    .welcomeScreen .textBlock h1 {
        
        font-size: 50px;
        
    }
    
    .verseDisplayScreen > .headerContainer {
        
        height: 150px;
        
    }
    
    .verseDisplay {
    
        top: 50vh;
        
    }
    
    .verseDisplay.up {
    
        top: 170px;
        
    }
    
    .verseDisplayScreen .headerContainer .button:not(.verseButton),
    .verseDisplayScreen .headerContainer .miniVerseTitleContainer {
        
        height: 85px;
        
    }
    
    .verseDisplayScreen .headerContainer .miniVerseTitleContainer {
    
        padding: 10px;
        
    }
    
}

@media only screen and (max-width: 400px) {
    
    .verseDisplayScreen .headerContainer .miniVerseTitleContainer .subtitle .tag {
    
        font-size: 70%;
        padding: 1px 2px;
        border-width: 2px;
        
    }
    
    .verseDisplayScreen .headerContainer .miniVerseTitleContainer .subtitle .text {
    
        font-size: 80%;
        margin-right: -5px;
        
    }
    
}

@media only screen and (max-width: 375px) {
    
    .searchModeSelectionScreen .searchByReferenceContainer .selectionContainer:not(.bookSelectionContainer) .selectionElementContainer {
    
        gap: 2px;
        
    }

    .searchModeSelectionScreen .searchByReferenceContainer .selectionContainer:not(.bookSelectionContainer) .selectionElementContainer .selectionElement {
    
        width: 45px;
        height: 45px;
        line-height: 45px;
        border-radius: 12px;
        
    }
    
}