@media only screen and (max-width: 1000px) {
  .searchModeSelectionScreen .gridContainer {
    display: block;
  }

  .searchModeSelectionScreen .searchBarContainer {
    position: absolute;
    width: calc(100% - 70px);
    max-width: 1000px;
    margin: auto;
  }

  .searchModeSelectionScreen .searchResultsContainer {
    position: absolute;
    top: 167px;
    height: calc(100% - 237px);
    height: calc(100% - 237px - env(safe-area-inset-bottom));
    left: 50%;
    right: auto;
    width: calc(100% - 70px);
    max-width: 1000px;

    opacity: 0;
    transform: translate(calc(100% + 20px), 0) scale(0.75);
  }

  .searchModeSelectionScreen.searchBarActive .searchResultsContainer {
    opacity: 100%;
    transform: translate(-50%);
  }

  .searchModeSelectionScreen .searchByReferenceContainer {
    position: absolute;
    top: 167px;
    left: 50%;
    width: calc(100% - 40px);
    max-width: 1000px;
    height: calc(100% - 237px);
    margin-top: 20px;

    transform: translate(-50%, 0);
  }

  .searchModeSelectionScreen.searchBarActive .searchByReferenceContainer {
    opacity: 0;
    transform: translate(calc(-100% - 20px), 0) scale(0.75);
  }

  .searchModeSelectionScreen .searchByReferenceContainer .selectionContainer {
    width: calc(100% - 30px);
  }
}

@media only screen and (max-width: 925px) {
  .singleWordInformation .content .concordanceInformationItem h1 {
    font-size: 20px;
  }

  .verseDisplay {
    top: 50vh;
    left: 0;
    margin-left: 20px;
    width: calc(100% - 40px);
    transform: translate(0, -50%);
  }

  .verseDisplay.verseDisplay.highlightPrejump,
  .verseDisplay.verseDisplay.verseDisplay.highlightRareWords {
    top: calc(50vh - 27.5px);
  }

  .verseDisplay.up {
    top: 110px !important;
    transform: none;
  }

  .verseDisplay .textContainer p {
    font-size: 18px;
    margin-bottom: 0;
  }

  .verseDisplayScreen {
    display: block;
  }

  .verseDisplayScreen .sidebarContainer > .headerContainer {
    height: 80px;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .verseDisplayScreen .headerContainer .verseTitleContainer {
    display: block;
    width: 100%;
    background: var(--content-background-color);
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
  }

  .verseDisplayScreen .headerContainer .verseTitleContainer .infoContainer {
    margin: 0 2px;
  }

  .verseDisplayScreen .headerContainer .verseTitleContainer .title {
    font-size: 20px;
    margin-bottom: 5px;
    transition: all 0.2s ease;
  }

  .verseDisplayScreen .headerContainer .verseTitleContainer .subtitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    font-size: 14px;
    transition: all 0.2s ease;
  }

  .verseDisplayScreen .headerContainer .verseTitleContainer .subtitle.hidden {
    display: none;
  }

  .verseDisplayScreen .headerContainer .verseTitleContainer .subtitle .tag {
    color: var(--memory-element-color);
    border: 2px solid var(--memory-element-color);
    padding: 1px 3px;
    border-radius: 5px;
    margin-right: 3px;
    font-size: 90%;
  }

  .verseDisplayScreen .headerContainer .verseTitleContainer .verseButton {
    width: 25px;
    height: 25px;
    margin: 0;
  }

  .verseDisplayScreen
    .headerContainer
    .verseTitleContainer
    .verseButton
    picture {
    transform: scale(0.75);
  }

  .verseDisplayScreen .headerContainer .button {
    width: 60px;
    margin: 0 10px 0 0;
  }

  .verseDisplayScreen .headerContainer .button picture {
    transform: scale(0.75);
  }

  .verseDisplayScreen .headerContainer .verseTitleContainer,
  .verseDisplayScreen .headerContainer .button {
    height: 80px;
  }

  .verseDisplayScreen .key {
    position: absolute;
    height: 40px;
    bottom: 115px;
    bottom: max(calc(90px + env(safe-area-inset-bottom)), 115px);
    left: 20px;
    left: calc(20px + env(safe-area-inset-left));
    right: 20px;
    right: calc(20px + env(safe-area-inset-right));
    margin-top: 0;
    opacity: 0;
  }

  .verseDisplay.highlightPrejump:not(.up) ~ .key,
  .verseDisplay.highlightRareWords:not(.up) ~ .key {
    opacity: 1;
  }

  .slidePanel {
    position: absolute;
    height: auto;
    width: calc(100% - 40px);
    width: calc(
      100% - 40px - env(safe-area-inset-left) - env(safe-area-inset-right)
    );
    left: 20px;
    left: calc(20px + env(safe-area-inset-left));
    bottom: 20px;
    bottom: max(20px, calc(env(safe-area-inset-bottom) + 1px));
    z-index: 5;
    margin: 0;
  }

  .slidePanel.hidden {
    display: block;
    transform: translateY(calc(100% + 20px));
    transform: translateY(calc(100% + 20px + env(safe-area-inset-bottom)));
  }

  .verseDisplayScreen .toolbarContainer {
    position: absolute;
    height: 80px;
    width: calc(100% - 40px);
    width: calc(
      100% - 40px - env(safe-area-inset-left) - env(safe-area-inset-right)
    );
    left: 20px;
    left: calc(20px + env(safe-area-inset-left));
    bottom: 20px;
    bottom: max(20px, env(safe-area-inset-bottom));
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s opacity ease;
  }

  .verseDisplay.up ~ .toolbarContainer {
    opacity: 0;
  }

  .verseDisplayScreen .toolbarContainer .toolbar {
    height: 80px;
  }

  .verseDisplayScreen .toolbarContainer .toolbar .toolbarItem {
    height: 70px;
  }
}

@media only screen and (max-width: 495px) {
  .verseDisplayScreen .toolbarContainer {
    overflow-y: scroll;
    width: calc(100%);
    width: calc(100% - safe-area-inset-left);
    left: 0;
    left: env(safe-area-inset-left);
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .verseDisplayScreen .toolbarContainer::-webkit-scrollbar {
    display: none;
  }

  /* Fix for missing whitespace */
  .verseDisplayScreen .toolbarContainer::after {
    content: " ";
    flex: 0 0 20px;
  }

  .verseDisplayScreen .toolbarContainer .toolbar {
    position: static;
    display: inline-flex;
  }

  .verseDisplayScreen .toolbarContainer .toolbar.left {
    border-radius: 15px 0 0 15px;
    padding-right: 0;
    margin-left: 20px;
  }

  .verseDisplayScreen .toolbarContainer .toolbar.left .divider {
    display: block;
  }

  .verseDisplayScreen .toolbarContainer .toolbar.right {
    border-radius: 0 15px 15px 0;
  }

  .slidePanel .pronounClarification .listItem {
    flex-wrap: wrap;
  }

  .slidePanel .pronounClarification .listItem p.reference {
    margin: 5px 0 0 0;
    width: 100%;
  }

  .slidePanel .singleWordInformation .content .referencesContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .slidePanel .singleWordInformation .content .concordanceInformationContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 415px) {
  .welcomeScreen .textBlock h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 375px) {
  .searchModeSelectionScreen
    .searchByReferenceContainer
    .selectionContainer:not(.bookSelectionContainer)
    .selectionElementContainer {
    gap: 2px;
  }

  .searchModeSelectionScreen
    .searchByReferenceContainer
    .selectionContainer:not(.bookSelectionContainer)
    .selectionElementContainer
    .selectionElement {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 12px;
  }
}

@media only screen and (max-width: 375px) {
  .verseDisplayScreen .headerContainer .verseTitleContainer {
    position: relative;
  }

  .verseDisplayScreen .headerContainer .verseTitleContainer .infoContainer {
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
  }

  .verseDisplayScreen
    .headerContainer
    .verseTitleContainer
    .infoContainer
    .title {
    margin-bottom: 2px;
  }

  .verseDisplayScreen
    .headerContainer
    .verseTitleContainer
    .infoContainer
    .subtitle {
    color: var(--memory-element-color);
    justify-content: center;
    margin-top: 1px;
  }

  .verseDisplayScreen
    .headerContainer
    .verseTitleContainer
    .infoContainer
    .subtitle
    .tag {
    display: none;
  }

  .verseDisplayScreen
    .headerContainer
    .verseTitleContainer
    .previousVerseButton {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .verseDisplayScreen .headerContainer .verseTitleContainer .nextVerseButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .verseDisplay.up {
    top: 20px !important;
    top: max(20px, env(safe-area-inset-top)) !important;
    transform: none;
  }

  .verseDisplay .textContainer p {
    font-size: 15px;
  }

  .verseDisplayScreen .sidebarContainer .key .keyItem {
    font-size: 15px;
  }
}
