:root {

    /* Light mode variable definitions */
    --app-accent-color: #52A7FA;
    --accent-color-text-color: #ffffff;
    
    --page-background-color: #ffffff;
    --content-background-color: #eeeeee;
    --secondary-content-background-color: #f0f0f0;
    
    --primary-text-color: #000000;
    --secondary-text-color: #555555;
    --ternary-text-color: #757575;
    --inverted-text-color: #ffffff;
    
    --primary-button-color: var(--app-accent-color);
    --secondary-button-color: #dddddd;
    
    --dark-shadow-color: #aaaaaa;
    --light-shadow-color: #dddddd;
    
    --overlay-color: #000000;
    
    /* Content Judge only */
    --memory-element-color: #62C45E;
    
    --blue-gradient: linear-gradient(90deg, #74BBBD, #5185A6);
    --purple-gradient: linear-gradient(90deg, #7E74CF, #7E73CE);
    --orange-gradient: linear-gradient(90deg, #D88041, #CF503D);
    
    --blue-color: #5185A6;
    --purple-color: #7E73CE;
    --orange-color: #CF503D;


}

@media (prefers-color-scheme: dark) {
    :root {
        
        /* Dark mode variable definitions */
        --app-accent-color: #52A7FA;
        --accent-color-text-color: #ffffff;
        
        --page-background-color: #000000;
        --content-background-color: #222222;
        --secondary-content-background-color: #333333;
        
        --primary-text-color: #ffffff;
        --secondary-text-color: #C0C0C0;
        --ternary-text-color: #A0A0A0;
        --inverted-text-color: #000000;
        
        --primary-button-color: var(--app-accent-color);
        --secondary-button-color: #444444;
        
        --dark-shadow-color: #222222;
        --light-shadow-color: #222222;
        
        --overlay-color: #000000;
        
        /* Content Judge only */
        --memory-element-color: #509F4C;
        
        --blue-color: #74BBBD;
        --purple-color: #7E74CF;
        --orange-color: #D88041;
        
    }
}

/*
// Prevent animations from occuring when the user has Reduce Motion enabled
*/
@media (prefers-reduced-motion) {
    * {
        animation: none !important;
        transition: none !important;
    }
}

@font-face {

    font-family: omnes-pro;
    font-weight: 400;
    src: url(fonts/omnes-pro-light.otf);

}

@font-face {

    font-family: omnes-pro;
    font-weight: 500;
    src: url(fonts/omnes-pro-regular.otf);

}

@font-face {

    font-family: omnes-pro;
    font-weight: 700;
    src: url(fonts/omnes-pro-semibold.otf);

}

/* Remove the 350ms touch delay no iOS */
html {
    
    touch-action: manipulation;
    
}

html, body {

    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
}

body {
    
    font-family: omnes-pro;
    background: var(--page-background-color);
    color: var(--primary-text-color);
    
    -webkit-user-select: none;
    user-select: none;
    
}

.hidden {
    
    display: none;
    
}

h1, h2, h3, h4, h5, p {
    
    margin: 0 0 10px 0;
    
}

button {
    
    background: var(--primary-button-color);
    border: none;
    border-radius: 10px;
    padding: 15px 15px;
    min-width: 175px;
    color: var(--accent-color-text-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    font-size: 15px;
    
}

button.bottom {
    
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    
}

.requireDisplayBlock {
    
    display: block !important;
    
}

.requireDisplayNone {
    
    display: none !important;
    
}

.bannerNotification {
    
    position: fixed;
    left: 50%;
    top: 15px;
    transform: translate(-50%, 0);
    z-index: 10;
    border-radius: 32.5px;
    width: 250px;
    height: 65px;
    
    background-color: var(--page-background-color);
    box-shadow: 0 0 10px var(--light-shadow-color);
    
    transition: transform 0.3s ease;
    
}

.bannerNotification.hidden {
    
    display: block !important;
    transform: translate(-50%, -100px);
    
}

.bannerNotification .title {
    
    font-size: 20px;
    width: calc(100% - 10px);
    text-align: center;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0;
    
}

.bannerNotification .subtitle {
    
    color: var(--ternary-text-color);
    position: absolute;
    width: fit-content;
    margin: 0;
    top: 36px;
    left: 50%;
    transform: translate(-50%, 0);
    
}

.screen {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--page-background-color);
    box-shadow: 0 0 20px var(--dark-shadow-color);
    box-sizing: border-box;
    border: none;
    opacity: 100%;
    overflow: auto;
    padding: 20px;
    
    transition: all 0.2s ease-out;
    
}

.screen.hidden {
    
    transform: translate(100px);
    opacity: 0;
    display: block;
    overflow: hidden;
    
}

/* Rotate arrow elements to point in the correct direction */
.arrow.right img {
    transform: rotate(90deg);
}

.arrow.down img {
    transform: rotate(180deg);
}

.arrow.left img {
    transform: rotate(270deg);
}