.welcomeScreen {
    
    padding: 0;
    
}

.welcomeScreen .headerBlock {
    
    width: 100%;
    height: 40%;
    background: linear-gradient(70deg, #74BCBD 0%, #436F9E 20%, #836AC8 40%, #7D76D1 60%, #D88243 80%, #CF4F3D 100%);
    background-size: 200% 100%;
    animation: gradient 18s ease infinite;
    
}

@keyframes gradient {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

.welcomeScreen .headerBlock img {
    
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    
    border-radius: 20px;
    box-shadow: 0 0 10px var(--dark-shadow-color);
    
}

.welcomeScreen .textBlock {

    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    
}

.welcomeScreen .textBlock p {

    display: inline-block;
    font-size: 25px;
    margin-right: 5px;
    
}

.welcomeScreen .textBlock img {

    display: inline-block;
    vertical-align: middle;
    
}

.welcomeScreen .buttonContainer {
    
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(100% - 40px);
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.welcomeScreen .buttonContainer button.start {

    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
    
}

.welcomeScreen .buttonContainer button:not(.start) {

    background: var(--content-background-color);
    color: var(--primary-text-color);
    width: calc(50% - 10px);
    display: flex;
    justify-content: center;
    align-items: baseline;
    
}

.welcomeScreen .buttonContainer button:not(.start) img {

    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    
}

.welcomeScreen .buttonContainer button:not(.start) p.label {

    display: inline-block;
    font-size: 16px;
    margin: 0;
    
}

.addWebClipScreen {
    
    padding: 0;
    
}

.addWebClipScreen div.header {

    width: 100vw;
    height: 40%;
    background-color: var(--content-background-color);

}

.addWebClipScreen div.header img {

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 15px;

}

.addWebClipScreen div.header p {

    position: absolute;
    top: calc(20% + 42px);
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 15px;
    font-family: system-ui;
    font-weight: normal;

}

.addWebClipScreen h1 {
    
    margin: 20px 15px 5px 15px;
    
}

.addWebClipScreen > p {
    
    line-height: 150%;
    margin: 0 15px 0 15px;
    
}

.addWebClipScreen p img {
    
    background: var(--content-background-color);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    vertical-align: middle;
    
}

.addWebClipScreen p span {
    
    background: var(--content-background-color);
    font-family: system-ui;
    padding: 2.5px;
    border-radius: 5px;
    
}

.searchModeSelectionScreen {
    
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.searchModeSelectionScreen .titleContainer {
    
    display: inline-block;
    cursor: pointer;

}

.searchModeSelectionScreen .titleContainer img {

    display: inline-block;
    vertical-align: middle;
    margin: 0 0 10px 0;
    
}

.searchModeSelectionScreen .titleContainer h1.label {
    
    display: inline-block;
    margin-left: 5px;
    
}

.searchModeSelectionScreen select {
    
    background: var(--content-background-color);
    padding: 7px 7px 7px 14px;
    vertical-align: top;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    font-weight: bold;
    font-size: 15px;
    width: 250px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    
}

.searchModeSelectionScreen .searchBarContainer {
    
    background: var(--content-background-color);
    width: calc(100% - 40px);
    padding: 15px;
    border-radius: 15px;
    
    transition: all 0.4s ease-in-out;
    
}

.searchModeSelectionScreen .searchBarContainer .label {
    
    font-size: 22px;
    font-weight: bold;
    
}

.searchModeSelectionScreen .searchBarContainer .searchBarWrapper {
    
    position: relative;
    
}

.searchModeSelectionScreen .searchBarContainer .searchBarWrapper .searchBar {
    
    border: none;
    background: var(--page-background-color);
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 30px);
    height: 100%;
    font-family: inherit;
    font-size: 18px;
    
}

.searchModeSelectionScreen .searchBarContainer .searchBarWrapper .searchBar:focus {

    outline: none;
    
}

.searchModeSelectionScreen .searchBarContainer .searchBarWrapper .clearButton {
    
    background: var(--content-background-color);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    padding-top: 3px;
    box-sizing: border-box;
    cursor: pointer;
    
    transition: opacity 0.2s ease;
    
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    
}

.searchModeSelectionScreen .searchBarContainer .searchBarWrapper .clearButton img {

    width: 20px;
    
}

.searchModeSelectionScreen .searchBarContainer .searchBarWrapper .clearButton.hidden {

    display: block;
    opacity: 0;
    
}

.searchModeSelectionScreen .searchResultsContainer {
    
    overflow: scroll;
    
}

.searchModeSelectionScreen .searchResultsContainer .listItem {

    background: var(--page-background-color);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    
}

.searchModeSelectionScreen .searchResultsContainer .listItem .content {

    margin-bottom: 0;
    
}

.searchModeSelectionScreen .bookSelectionContainer {
    
    background: var(--content-background-color);
    
    position: absolute;
    top: 167px;
    
    width: calc(100% - 80px);
    height: calc(100% - 237px);
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
    
    transition: all 0.5s ease;
    
}

.searchModeSelectionScreen.searchBarActive .bookSelectionContainer {
    
    opacity: 0;
    transform: translate(calc(-100% - 20px), 0) scale(0.75);
    
}

.searchModeSelectionScreen .bookSelectionContainer .label {
    
    font-weight: bold;
    font-size: 22px;
    
}

.searchModeSelectionScreen .bookSelectionContainer .bookSelectionElement {
    
    background: var(--page-background-color);
    width: calc(50% - 7.5px);
    margin-right: 15px;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    
    transition: opacity 0.1s ease;
    
}

.searchModeSelectionScreen .bookSelectionContainer .bookSelectionElement:nth-child(odd) {
    
    margin-right: 0;
    
}

.searchModeSelectionScreen .bookSelectionContainer .bookSelectionElement:active {

     opacity: 0.5;
    
}

.searchModeSelectionScreen .searchResultsContainer {
    
    background: var(--content-background-color);
    
    position: absolute;
    top: 167px;
    
    width: calc(100% - 80px);
    height: calc(100% - 237px);
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
    
    opacity: 0;
    transform: translate(calc(100% + 20px), 0) scale(0.75);
    transition: all 0.5s ease;
    
}

.searchModeSelectionScreen.searchBarActive .searchResultsContainer {
    
    opacity: 100%;
    transform: none;
    
}

.chapterSelectionScreen .titleContainer {
    
    cursor: pointer;

}

.chapterSelectionScreen .titleContainer img {

    display: inline-block;
    vertical-align: middle;
    margin: 0 0 10px 0;
    
}

.chapterSelectionScreen .titleContainer h1.title {
    
    display: inline-block;
    margin-left: 5px;
    
}

.chapterSelectionScreen .chapterNumberElementsContainer {
    
    margin: auto;
    width: 385px;
    
}

.chapterSelectionScreen .chapterNumberElementsContainer .chapterNumberElement {
    
    background: var(--content-background-color);
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 15px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    
    transition: opacity 0.1s ease;
    
}

.chapterSelectionScreen .chapterNumberElementsContainer .chapterNumberElement:nth-of-type(5n+5) {

    margin-right: 0;
    
}

.chapterSelectionScreen .chapterNumberElementsContainer .chapterNumberElement:active {
    
    opacity: 0.5;
    
}

.verseSelectionScreen .titleContainer {
    
    cursor: pointer;

}

.verseSelectionScreen .titleContainer img {

    display: inline-block;
    vertical-align: middle;
    margin: 0 0 10px 0;
    
}

.verseSelectionScreen .titleContainer h1.title {
    
    display: inline-block;
    margin-left: 5px;
    
}

.verseSelectionScreen .verseNumberElementsContainer {
    
    margin: auto;
    width: 385px;
    
}

.verseSelectionScreen .verseNumberElementsContainer .verseNumberElement {
    
    background: var(--content-background-color);
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 15px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    
    transition: opacity 0.1s ease;
    
}

.verseSelectionScreen .verseNumberElementsContainer .verseNumberElement:nth-of-type(5n+5) {

    margin-right: 0;
    
}

.verseSelectionScreen .verseNumberElementsContainer .verseNumberElement:active {
    
    opacity: 0.5;
    
}

.verseDisplayScreen {
    
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.verseDisplayScreen > .headerContainer {
    
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.verseDisplayScreen .headerContainer .button {

    background: var(--content-background-color);
    border-radius: 20px;
    padding: 10px;
    height: 100px;
    box-sizing: border-box;
    cursor: pointer;
    width: 90px;
    margin: 0 10px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    transition: opacity 0.2s ease;
    
}

.verseDisplayScreen .headerContainer .button.hidden {

    display: none;
    
}

.verseDisplayScreen .headerContainer .button[disabled] {

    opacity: 0.5;
    cursor: default;
    
}

.verseDisplayScreen .headerContainer .button p.label {

    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: bold;
    
}

.verseDisplayScreen .headerContainer .previousVerseButton img {
    margin-right: 5px;
}

.verseDisplayScreen .headerContainer .nextVerseButton img {
    transform: rotate(180deg);
    margin-left: 5px;
}

.verseDisplayScreen .headerContainer .verseTitleContainer {

    background: var(--content-background-color);
    border-radius: 20px;
    padding: 15px;
    height: 100px;
    box-sizing: border-box;
    width: calc(100% - 40px);
    max-width: 300px;
    margin: 0 10px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.verseDisplayScreen .headerContainer .verseTitleContainer .title {

    margin: 0;
    width: 100%;
    
    transition: all 0.2s ease;
    
}

.verseDisplayScreen .headerContainer .verseTitleContainer .subtitle {
    
    color: var(--secondary-text-color);
    margin: 10px 0 0 0;
    
    transition: all 0.2s ease;
    
}

.verseDisplayScreen .headerContainer .verseTitleContainer .subtitle .tag {

    color: var(--memory-element-color);
    border: 3px solid var(--memory-element-color);
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 90%;
    
}

.verseDisplay {
    
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    
    transition: all 0.3s ease;
    
}

.verseDisplay.up {
    
    top: 130px;
    transform: none;
    
}


.verseDisplay .textContainer {
    
    width: 100%;
    
}

.verseDisplay .textContainer p {
    
    font-size: 22px;
    padding: 5px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 3px solid transparent;
    cursor: pointer;
    
    transition: all 0.2s ease;

}

.verseDisplay .textContainer p.notSelectable {

    cursor: default;
    
}

.verseDisplay .textContainer p:not(.notSelectable):not(.selected):hover {

    background: var(--secondary-content-background-color);
    color: var(--ternary-text-color);
    
}

.verseDisplay .textContainer p.selected {

    background: var(--app-accent-color);
    color: var(--inverted-text-color);
    
    /* Override potential prejump styling */
    border: none;
    border-bottom: 2px solid transparent !important;
    
}

.verseDisplay .textContainer p.outlined {

    border: 3px solid var(--app-accent-color) !important;
    box-sizing: border-box;
    
    /* Override potential prejump styling */
    border-radius: 5px !important;
    
}

.verseDisplay.highlightPrejump .textContainer p.prejump {

    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid var(--primary-text-color);
    border-radius: 5px 5px 0 0;
    
}

.verseDisplay.highlightRareWords .textContainer p.uniqueWord:not(.selected) {

/*
    background-image: var(--orange-gradient);
    background-size: 100%;
    background-clip: text;
    color: transparent;
*/
    color: var(--orange-color);
    
}

.verseDisplay.highlightRareWords .textContainer p.doubleWord:not(.selected) {

/*
    background-image: var(--blue-gradient);
    background-size: 100%;
    background-clip: text;
    color: transparent;
*/
    color: var(--blue-color);
    
}

.verseDisplay.highlightRareWords .textContainer p.tripleWord:not(.selected) {

/*
    background-image: var(--purple-gradient);
    background-size: 100%;
    background-clip: text;
    color: transparent;
*/
    color: var(--purple-color);
    
}

.verseDisplayScreen .toolbarContainer {
    
    position: fixed;
    bottom: 20px;
    bottom: calc(env(safe-area-inset-bottom) + 20px);
    left: 20px;
    left: calc(env(safe-area-inset-left) + 20px);
    width: calc(100% - 40px);
    width: calc(100% - 40px - env(safe-area-inset-left) - env(safe-area-inset-right));
    z-index: 2;
    
}

.verseDisplayScreen .toolbarContainer .toolbar {
    
    position: absolute;
    bottom: 0;
    background: var(--content-background-color);
    border-radius: 15px;
    height: 90px;
    
}

.verseDisplayScreen .toolbarContainer .toolbar.left {
    left: 0;
}

.verseDisplayScreen .toolbarContainer .toolbar.right {
    right: 0;
}

.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem {
    
    display: inline-block;
    margin: 5px;
    width: 100px;
    height: 80px;
    vertical-align: top;
    border-radius: 10px;
    cursor: pointer;
    
    transition: background 0.1s ease;
    
}

.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem:hover {

    background: var(--page-background-color);
    
}

.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem picture,
.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem > img {

    display: block;
    width: 45px;
    margin: auto;
    margin-top: 5px;
    
}

.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem > img {

    display: none;
    
}

.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem .label {

    font-weight: bold;
    margin: 5px 0 0 0;
    text-align: center;
    line-height: 15px;
    
}

/* Multiline items need adjusted spacing */

.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem.multiLine picture,
.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem.multiLine > img {

    margin-top: auto;
    
}

.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem.multiLine .label {

    margin-top: -2px;
    
}

/* Adjust styles for active buttons */
.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem.active {
    
    background: var(--app-accent-color);
    
}

.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem.active picture {
    
    display: none;
    
}

.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem.active > img {
    
    display: block;

}

.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem.active .label {
    
    color: var(--accent-color-text-color);
    
}

.slidePanel {
    
    position: absolute;
    bottom: 120px;
    bottom: calc(120px + env(safe-area-inset-bottom));
    left: 20px;
    left: calc(20px + env(safe-area-inset-left));
    right: 20px;
    right: calc(20px + env(safe-area-inset-right));
    background: var(--secondary-content-background-color);
    border-radius: 30px 30px 15px 15px;
    z-index: 1;
    
    transition: all 0.3s ease;
    
}

.slidePanel.hidden {

    display: block;
    transform: translate(0, calc(100% + 120px));
    
}

.slidePanel .slidePanelScreen {
    
    padding: 20px;
    
    transition: opacity 0.2s ease;
    
}

.slidePanel .singleWordInformation .title {

    display: inline-block;
    vertical-align: top;
    
}

.slidePanel .singleWordInformation .pronounClarification {
    
    display: inline-block;
    margin-top: 1px;
    
}

.slidePanel .singleWordInformation .pronounClarification.hidden {
    display: none;
}

.slidePanel .singleWordInformation .pronounClarification .arrow {

    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
    vertical-align: middle;
    opacity: 0.6;
    
}

.slidePanel .singleWordInformation .pronounClarification .antecedent {

    display: inline-block;
    line-height: 34px;
    margin-left: 5px;
    font-size: 25px;
    font-weight: bold;
    color: var(--secondary-text-color);
    
}

.slidePanel .pronounClarification .listItem {
    
    background: var(--page-background-color);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
    
}

.slidePanel .pronounClarification .listItem .pronoun {

    display: inline-block;
    
}

.slidePanel .pronounClarification .listItem .arrow {

    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
    vertical-align: middle;
    opacity: 0.6;
    
}

.slidePanel .pronounClarification .listItem .antecedent {

    display: inline-block;
    line-height: 34px;
    margin-left: 5px;
    font-size: 25px;
    font-weight: bold;
    color: var(--secondary-text-color);
    
}

.slidePanel .footnotes .listItem {
    
    background: var(--page-background-color);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
    
}

.slidePanel .footnotes .listItem .content {

    margin-bottom: 2.5px;
    
}

.slidePanel .footnotes .listItem .content .emphasis {

    font-style: italic;
    
}