.welcomeScreen {
    
    padding: 0;
    
}

.welcomeScreen .headerBlock {
    
    width: 100%;
    height: 40%;
    position: relative;
    background: linear-gradient(70deg, #74BCBD 0%, #436F9E 20%, #836AC8 40%, #7D76D1 60%, #D88243 80%, #CF4F3D 100%);
    background-size: 200% 100%;
    animation: gradient 18s ease infinite;    
}

@keyframes gradient {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

.welcomeScreen .headerBlock img {
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1.5s ease;
    
    border-radius: 20px;
    box-shadow: 0 0 10px var(--dark-shadow-color);
    
}

.welcomeScreen .headerBlock .easterEggText {
    
    position: absolute;
    top: 50%;
    width: 200px;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
    color: var(--accent-color-text-color);
    opacity: 0;
        
}

.welcomeScreen .headerBlock.easterEgg .easterEggText {

    animation: floatAcross 10s linear;
    
}

.welcomeScreen .headerBlock.easterEgg img {

    opacity: 0;
    
}

@keyframes floatAcross {
    0% {
        left: 120%;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        left: -20%;
        opacity: 0;
    }
}

.welcomeScreen .textBlock {

    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    
}

.welcomeScreen .textBlock p {

    display: inline-block;
    font-size: 25px;
    margin-right: 5px;
    
}

.welcomeScreen .textBlock img {

    display: inline-block;
    vertical-align: middle;
    
}

.welcomeScreen .buttonContainer {
    
    position: absolute;
    bottom: 20px;
    bottom: calc(env(safe-area-inset-bottom) + 20px);
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(100% - 40px);
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 52px 52px;
    grid-gap: 15px;
    overflow: hidden;
    
}

.welcomeScreen .buttonContainer button {

    min-width: 0;
    overflow: hidden;
    padding: 0;
    
}

.welcomeScreen .buttonContainer button.start {

    font-size: 20px;
    grid-column: 1 / 3;
    
}

.welcomeScreen .buttonContainer button:not(.start) {

    background: var(--content-background-color);
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.welcomeScreen .buttonContainer button:not(.start) img {

    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    
}

.welcomeScreen .buttonContainer button:not(.start) p.label {

    display: inline-block;
    font-size: 16px;
    margin: 0;
    
}

.flyswatterScreen .question {
    
    width: 100%;
    max-width: 500px;
    margin: auto;
    
}

.flyswatterScreen .question .option {
    
    background: var(--content-background-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    
    transition: opacity 0.1s ease;
    
}

.flyswatterScreen .question .option:active {

    opacity: 0.5;
    
}

.settingsScreen .section {
    
    background: var(--content-background-color);
    padding: 15px;
    border-radius: 15px;
    max-width: 750px;
    margin: auto;
    margin-bottom: 20px;
    
}

.settingsScreen .section .title {
    
    font-size: 20px;
    font-weight: bold;
    
}

.settingsScreen .section .title .reset {

    color: var(--secondary-text-color);
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
    
    transition: opacity 0.1s ease;
    
}

.settingsScreen .section .title .reset:active {

    opacity: 0.5;
    
}

.settingsScreen .section > .label:not(:last-child){
    
    margin: 10px 0 15px 0;
    
}

.settingsScreen .section > .label,
.settingsScreen .section .subsectionTitle {
    
    margin: 10px 0 5px 0;
    
}

.settingsScreen .section .subsectionTitle {
    
    font-weight: bold;
    
}

.settingsScreen .toggle {
    
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    
}

.settingsScreen .toggle .checkbox {
    
    width: 25px;
    height: 25px;
    border-radius: 8px;
    margin-right: 10px;
    background: var(--page-background-color);
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: background 0.1s ease;
    
}

.settingsScreen .toggle .checkbox.checked {

    background: var(--app-accent-color);
    
}

.settingsScreen .toggle .checkbox .check {

    opacity: 0;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background: var(--accent-color-text-color);
    
    transition: opacity 0.1s ease;
    
}

.settingsScreen .toggle .checkbox.checked .check {

    opacity: 0.9;
    
}

.settingsScreen .toggle .label {
    
    margin: 0;
    font-weight: bold;
    
}

.settingsScreen .colorSelector .picker {

    display: flex;
    align-items: center;
    vertical-align: center;
    
}

.settingsScreen .colorSelector .picker {
    
    display: inline-block;
    
}

.settingsScreen .colorSelector .label {

    display: inline-block;
    margin-bottom: 3px;
    
}

.settingsScreen .section > p:last-child {
    
    margin-bottom: 0;
    
}

.addWebClipScreen {
    
    padding: 0;
    
}

.addWebClipScreen div.header {

    width: 100vw;
    height: 40%;
    background-color: var(--content-background-color);

}

.addWebClipScreen div.header img {

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 15px;

}

.addWebClipScreen div.header p {

    position: absolute;
    top: calc(20% + 42px);
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 15px;
    font-family: system-ui;
    font-weight: normal;

}

.addWebClipScreen h1 {
    
    margin: 20px 15px 5px 15px;
    
}

.addWebClipScreen > p {
    
    line-height: 150%;
    margin: 0 15px 0 15px;
    
}

.addWebClipScreen p img {
    
    background: var(--content-background-color);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    vertical-align: middle;
    
}

.addWebClipScreen p span {
    
    background: var(--content-background-color);
    font-family: system-ui;
    padding: 2.5px;
    border-radius: 5px;
    
}

.searchModeSelectionScreen {
    
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.searchModeSelectionScreen .titleContainer {

    display: inline-block;
    
}

.searchModeSelectionScreen select {
    
    position: absolute;
    top: 20px;
    right: 20px;
    background: var(--content-background-color);
    color: var(--primary-text-color);
    padding: 7px 7px 7px 14px;
    vertical-align: top;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    font-weight: bold;
    font-size: 15px;
    width: calc(100% - 270px);
    max-width: 250px;
    cursor: pointer;
    
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    
}

.searchModeSelectionScreen select:focus {

    outline: none;
    
}

.searchModeSelectionScreen .gridContainer {
    
    display: grid;
    height: calc(100% - 45px);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "books searchBar"
        "books searchResults";
    grid-column-gap: 20px;
    
}

.searchModeSelectionScreen .searchBarContainer {
    
    background: var(--content-background-color);
    padding: 15px;
    border-radius: 15px;
    grid-area: searchBar;
    
    transition: all 0.4s ease-in-out;
    
}

.searchModeSelectionScreen .searchBarContainer .label {
    
    font-size: 22px;
    font-weight: bold;
    
}

.searchModeSelectionScreen .searchBarContainer .searchBarWrapper {
    
    position: relative;
    
}

.searchModeSelectionScreen .searchBarContainer .searchBarWrapper .searchBar {
    
    border: none;
    background: var(--page-background-color);
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 20px);
    height: 100%;
    font-family: inherit;
    letter-spacing: 0.5px;
    font-size: 18px;
    
}

.searchModeSelectionScreen .searchBarContainer .searchBarWrapper .searchBar:focus {

    outline: none;
    
}

.searchModeSelectionScreen .searchBarContainer .searchBarWrapper .clearButton {
    
    background: var(--content-background-color);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    padding-top: 3px;
    box-sizing: border-box;
    cursor: pointer;
    
    transition: opacity 0.2s ease;
    
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    
}

.searchModeSelectionScreen .searchBarContainer .searchBarWrapper .clearButton img {

    width: 20px;
    
}

.searchModeSelectionScreen .searchBarContainer .searchBarWrapper .clearButton.hidden {

    display: block;
    opacity: 0;
    
}

.searchModeSelectionScreen .searchResultsContainer {
        
    background: var(--content-background-color);
    
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
    overflow: scroll;
    grid-area: searchResults;
    
    transition:
        opacity 0.5s ease,
        transform 0.5s ease;
    
}

.searchModeSelectionScreen .searchResultsContainer .message {

    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    
}

.searchModeSelectionScreen .searchResultsContainer .listItem {

    background: var(--page-background-color);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    
}

.searchModeSelectionScreen .searchResultsContainer .listItem .content {

    margin-bottom: 0;
    
}

.searchModeSelectionScreen .bookSelectionContainer {
    
    background: var(--content-background-color);
    
    padding: 15px;
    border-radius: 15px;
    grid-area: books;
    
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15px;
    grid-auto-rows: 95px;
    grid-gap: 20px;
    
    transition:
        opacity 0.5s ease,
        transform 0.5s ease;
    
}

.searchModeSelectionScreen .bookSelectionContainer .label {
    
    font-weight: bold;
    font-size: 22px;
    grid-column: 1 / 3;
    
}

.searchModeSelectionScreen .bookSelectionContainer .bookSelectionElement {
    
    background: var(--page-background-color);
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    
    transition: opacity 0.1s ease;
    
}

.searchModeSelectionScreen .bookSelectionContainer .bookSelectionElement:nth-child(odd) {
    
    margin-right: 0;
    
}

.searchModeSelectionScreen .bookSelectionContainer .bookSelectionElement:active {

     opacity: 0.5;
    
}

.searchModeSelectionScreen .bookSelectionContainer .bookSelectionElement .icon {

    margin-bottom: 5px;
    
}

.searchModeSelectionScreen .bookSelectionContainer .bookSelectionElement .label {

    margin-bottom: 0;
    
}

.selectionScreen .numberElementsContainer {
    
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-auto-columns: 50px;
    grid-gap: 15px;
    justify-content: center;
    
}

.selectionScreen .numberElementsContainer .numberElement {
    
    background: var(--content-background-color);
    border-radius: 15px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    
    transition: opacity 0.1s ease;
    
}

.selectionScreen .numberElementsContainer .numberElement:active {
    
    opacity: 0.5;
    
}

.verseSelectionScreen .viewChapterButton {
    
    width: 310px;
    height: 50px;
    border-radius: 15px;
    margin: auto;
    text-align: center;
    line-height: 50px;
    margin-bottom: 15px;
    font-weight: bold;
    background: var(--content-background-color);
    cursor: pointer;
    
    transition: opacity 0.1s ease;
    
}

.verseSelectionScreen .viewChapterButton:active {

    opacity: 0.5;
    
}

.chapterDisplayScreen .content {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.chapterDisplayScreen .content .sectionContainer {
    
    margin-bottom: 20px;
    max-width: 500px;
    word-spacing: 1px;
    
}

.chapterDisplayScreen .content .sectionContainer .sectionVersesContainer {

    list-style-position: outside;
    
}

.chapterDisplayScreen .content .sectionContainer .sectionVersesContainer .verse {

    cursor: pointer;
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 22px;
    
}

.chapterDisplayScreen .content .sectionContainer .sectionVersesContainer .verse .prejump {

    border-bottom: 2px solid var(--memory-element-color);
    
}

.chapterDisplayScreen .content .sectionContainer .sectionVersesContainer .verse::marker {

    font-weight: bold;
    
}

.chapterDisplayScreen .content .sectionContainer .sectionVersesContainer .verse.memory::marker {
    
    color: var(--memory-element-color);
    
}

.verseDisplayScreen {
    
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.verseDisplayScreen.hidden {
    
    transform: translate(0, 100px);
    
}

.verseDisplayScreen > .headerContainer {
    
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.verseDisplayScreen .headerContainer .miniVerseTitleContainer {
    
    display: none;
    
}

.verseDisplayScreen .headerContainer .button {

    background: var(--content-background-color);
    border-radius: 20px;
    padding: 10px;
    height: 100px;
    box-sizing: border-box;
    cursor: pointer;
    min-width: 80px;
    width: 90px;
    margin: 0 10px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    transition: opacity 0.2s ease;
    
}

.verseDisplayScreen .headerContainer .button.hidden {

    display: none;
    
}

.verseDisplayScreen .headerContainer .button p.label {

    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: bold;
    
}

.verseDisplayScreen .headerContainer .previousVerseButton img {
    margin-right: 5px;
}

.verseDisplayScreen .headerContainer .nextVerseButton img {
    transform: rotate(180deg);
    margin-left: 5px;
}

.verseDisplayScreen .headerContainer .verseTitleContainer {

    background: var(--content-background-color);
    border-radius: 20px;
    padding: 15px;
    height: 100px;
    box-sizing: border-box;
    width: calc(100% - 40px);
    max-width: 300px;
    margin: 0 10px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.verseDisplayScreen .headerContainer .verseTitleContainer .title {

    margin: 0;
    width: 100%;
    
    transition: all 0.2s ease;
    
}

.verseDisplayScreen .headerContainer .verseTitleContainer .subtitle {
    
    color: var(--secondary-text-color);
    margin: 10px 0 0 0;
    
    transition: all 0.2s ease;
    
}

.verseDisplayScreen .headerContainer .verseTitleContainer .subtitle .tag {

    color: var(--memory-element-color);
    border: 3px solid var(--memory-element-color);
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 90%;
    
}

.verseDisplay {
    
    position: absolute;
    top: 50%;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    transform: translate(0, -50%);
    width: 100%;
    
    transition: all 0.3s ease;
    
}

.verseDisplay.up {
    
    top: 130px;
    transform: none;
    
}


.verseDisplay .textContainer {
    
    width: 100%;
    max-width: 1000px;
    margin: auto;
    
}

.verseDisplay .textContainer p {
    
    font-size: 22px;
    padding: 5px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 3px solid transparent;
    cursor: pointer;
    
    transition:
        background 0.2s ease,
        color 0.2s ease;

}

.verseDisplay .textContainer p.containsFootnoteReference {

    padding-right: 0;
    
}

.verseDisplay .textContainer p.footnoteReference {

    padding-left: 0;
    margin-left: -2px;
    
}

.verseDisplay .textContainer p.notSelectable {

    cursor: default;
    
}

.verseDisplay .textContainer p:not(.notSelectable):not(.selected):hover {

    background: var(--secondary-content-background-color);
    color: var(--ternary-text-color);
    
}

.verseDisplay .textContainer p.selected {

    background: var(--app-accent-color);
    color: var(--inverted-text-color);
    
    /* Override potential prejump styling */
    border: none;
    border-bottom: 2px solid transparent !important;
    
}

.verseDisplay .textContainer p.outlined {

    border: 3px solid var(--app-accent-color) !important;
    box-sizing: border-box;
    
    /* Override potential prejump styling */
    border-radius: 5px !important;
    
}

.verseDisplay.highlightPrejump .textContainer p.prejump {

    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid var(--primary-text-color);
    border-radius: 5px 5px 0 0;
    
}

.verseDisplay.highlightRareWords .textContainer p.uniqueWord:not(.selected) {

    color: var(--unique-word-highlight-color);
    
}

.verseDisplay.highlightRareWords .textContainer p.doubleWord:not(.selected) {

    color: var(--double-word-highlight-color);
    
}

.verseDisplay.highlightRareWords .textContainer p.tripleWord:not(.selected) {

    color: var(--triple-word-highlight-color);
    
}

.verseDisplayScreen .key {

    position: absolute;
    left: 50%;
    bottom: 20px;
    bottom: calc(env(safe-area-inset-bottom) + 20px);
    background: var(--content-background-color);
    padding: 5px;
    border-radius: 15px;
    width: 223px;
    box-sizing: border-box;
    transform: translate(-50%, 0);
    height: 90px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
    opacity: 1;
    transition: opacity 0.1s ease;
    
}

.verseDisplayScreen .key .keyItem {

    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
    opacity: 0.25;
    transition: opacity 0.1s ease;
    
}

.verseDisplayScreen .key .keyItem.prejump {
    border-bottom: 2px solid var(--primary-text-color);
}
.verseDisplayScreen .key .keyItem.unique {
    color: var(--unique-word-highlight-color);
}
.verseDisplayScreen .key .keyItem.double {
    color: var(--double-word-highlight-color);
}
.verseDisplayScreen .key .keyItem:last-child {
    color: var(--triple-word-highlight-color);
}

.verseDisplay.highlightPrejump ~ .key .keyItem.prejump {

    opacity: 1;
    
}

.verseDisplay.highlightRareWords ~ .key .keyItem.rareWord {

    opacity: 1;
    
}

.verseDisplayScreen .toolbarContainer {
    
    position: fixed;
    bottom: 20px;
    bottom: calc(env(safe-area-inset-bottom) + 20px);
    left: 20px;
    left: calc(env(safe-area-inset-left) + 20px);
    width: calc(100% - 40px);
    width: calc(100% - 40px - env(safe-area-inset-left) - env(safe-area-inset-right));
    z-index: 2;
    
}

.verseDisplayScreen .toolbarContainer .toolbar {
    
    position: absolute;
    bottom: 0;
    background: var(--content-background-color);
    border-radius: 15px;
    height: 90px;
    
}

.verseDisplayScreen .toolbarContainer .toolbar.left {
    left: 0;
    left: 0;
}

.verseDisplayScreen .toolbarContainer .toolbar.left .divider {
    
    display: none;
    width: 4px;
    height: 70px;
    border-radius: 2px;
    margin: 10px 5px;
    box-sizing: border-box;
    background: var(--primary-text-color);
    
}

.verseDisplayScreen .toolbarContainer .toolbar.right {
    right: 0;
}

.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem {
    
    display: inline-block;
    margin: 5px;
    width: 100px;
    height: 80px;
    vertical-align: top;
    border-radius: 10px;
    cursor: pointer;
    
    transition: background 0.1s ease;
    
}

.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem:hover {

    background: var(--page-background-color);
    
}

.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem picture,
.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem > img {

    display: block;
    width: 45px;
    margin: auto;
    margin-top: 5px;
    
}

.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem > img {

    display: none;
    
}

.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem .label {

    font-weight: bold;
    margin: 5px 0 0 0;
    text-align: center;
    line-height: 15px;
    
}

/* Multiline items need adjusted spacing */

.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem.multiLine picture,
.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem.multiLine > img {

    margin-top: auto;
    
}

.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem.multiLine .label {

    margin-top: -2px;
    
}

/* Adjust styles for active buttons */
.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem.active {
    
    background: var(--app-accent-color);
    
}

.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem.active picture {
    
    display: none;
    
}

.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem.active > img {
    
    display: block;

}

.verseDisplayScreen .toolbarContainer .toolbar .toolbarItem.active .label {
    
    color: var(--accent-color-text-color);
    
}

.slidePanel {
    
    position: absolute;
    max-width: 1000px;
    margin: auto;
    bottom: 120px;
    bottom: calc(120px + env(safe-area-inset-bottom));
    left: 20px;
    left: calc(20px + env(safe-area-inset-left));
    right: 20px;
    right: calc(20px + env(safe-area-inset-right));
    background: var(--secondary-content-background-color);
    border-radius: 30px 30px 15px 15px;
    z-index: 1;
    overflow: scroll;
    
    transition: all 0.3s ease;
    
}

.slidePanel.hidden {

    display: block;
    transform: translate(0, calc(100% + 120px));
    transform: translate(0, calc(100% + 120px + env(safe-area-inset-bottom)));
    
}

.slidePanel .closeButton {
    
    position: absolute;
    top: 20px;
    right: 20px;
    background: var(--secondary-page-background-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    box-sizing: border-box;
    
}

.slidePanel .slidePanelScreen {
    
    padding: 20px;
    overflow: scroll;
    
    transition: opacity 0.2s ease;
    
}

.slidePanel .slidePanelScreen:not(.singleWordInformation) .title {

    width: calc(100% - 50px);
    
}

.slidePanel .singleWordInformation .title {

    display: inline-block;
    vertical-align: top;
    
}

.slidePanel .singleWordInformation .pronounClarification {
    
    display: inline-block;
    margin-top: 1px;
    
}

.slidePanel .singleWordInformation .pronounClarification.hidden {
    display: none;
}

.slidePanel .singleWordInformation .pronounClarification .arrow {

    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
    vertical-align: middle;
    opacity: 0.6;
    
}

.slidePanel .singleWordInformation .pronounClarification .antecedent {

    display: inline-block;
    line-height: 34px;
    margin-left: 5px;
    font-size: 25px;
    font-weight: bold;
    color: var(--secondary-text-color);
    
}

.slidePanel .pronounClarification .message, 
.slidePanel .footnotes .message {
    
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    
}

.slidePanel .pronounClarification .listItem {
    
    background: var(--secondary-page-background-color);
    border-radius: 15px;
    padding: 10px 20px;
    margin-bottom: 15px;
    cursor: default;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.slidePanel .pronounClarification .listItem.hasReference {

    cursor: pointer;
    
}

.slidePanel .pronounClarification .listItem .headerContainer {

    margin-bottom: -5px;
    
}

.slidePanel .pronounClarification .listItem .pronoun {

    display: inline-block;
    margin-bottom: 0;
    
}

.slidePanel .pronounClarification .listItem .arrow {

    display: inline-block;
    margin: 0 0 5px 10px;
    vertical-align: middle;
    opacity: 0.6;
    
}

.slidePanel .pronounClarification .listItem .antecedent {

    display: inline-block;
    line-height: 34px;
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: bold;
    color: var(--secondary-text-color);
    
}

.slidePanel .pronounClarification .listItem p.reference {

    margin: 0;
    font-size: 18px;
    font-weight: bold;
    
}

.slidePanel .footnotes .listItem {
    
    background: var(--secondary-page-background-color);
    border-radius: 15px;
    padding: 10px 20px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    
}

.slidePanel .footnotes .listItem .letter {
    
    margin: 0 15px 0 0;
    
}

.slidePanel .footnotes .listItem .content {

    margin: 0;
    
}

.slidePanel .footnotes .listItem .content .emphasis {

    font-style: italic;
    
}