.homeScreen {
	padding: max(20px, env(safe-area-inset-top)) 20px 20px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}

.homeScreen .logoContainer img {
	width: 80px;
	height: 80px;
	border-radius: 16px;
	box-shadow: 0 0 10px var(--dark-shadow-color);
	margin-bottom: 10px;
	user-select: none;
	-webkit-user-drag: none;
}

.homeScreen .logoContainer h1 {
	font-size: 30px;
	font-weight: 800;
}

.homeScreen .spacer {
	flex-grow: 1;
	height: 20px;
}

.homeScreen .searchButton {
	background-image: var(--gradient-url);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100vw 100vh;
	color: white;
	position: relative;
	display: flex;
	align-items: center;
	height: 30px;
	border-radius: 15px;
	font-size: 18px;
	padding: 8px 15px;
	cursor: pointer;
	transition: opacity 0.2s ease;

	&:active {
		opacity: 0.5;
	}
}

.homeScreen .searchButton svg {
	width: 20px;
	font-size: 20px;
	margin-right: 10px;
}

.changelogScreen {
	padding-bottom: 0;
}

.changelogScreen .versionInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
}

.changelogScreen .versionInfo img {
	border-radius: 18px;
	box-shadow: 0 0 10px var(--dark-shadow-color);
}

.changelogScreen .versionInfo h1 {
	margin: 0 0 0 20px;
}

.changelogScreen .changes {
	width: calc(100vw - 40px);
	max-width: 500px;
	box-sizing: border-box;
	height: calc(100% - 100px);
	overflow-y: auto;
	margin: 0 auto;
	padding-bottom: 90px;
}

.changelogScreen .changes h3 {
	margin: 20px 0 10px 0;
	text-align: center;
}

.changelogScreen .changes div {
	display: grid;
	grid-template-columns: 40px 1fr;
	align-items: center;
	margin-bottom: 10px;
	gap: 10px;
}

.changelogScreen .changes div svg {
	font-size: 25px;
	justify-self: center;
}

.changelogScreen button {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 40px);
	max-width: 200px;
}

.settingsScreen .section {
	background: var(--overlay-foreground-color);
	box-shadow: var(--page-background-color) 0 0 5px inset;
	padding: 15px;
	border-radius: 15px;
	max-width: 750px;
	margin: auto;
	margin-bottom: 20px;
}

.settingsScreen .section.about {
	cursor: pointer;
}

.settingsScreen .section .title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.settingsScreen .section .title .reset {
	color: var(--secondary-text-color);
	font-size: 16px;
	margin-left: 5px;
	cursor: pointer;

	transition: opacity 0.1s ease;
}

.settingsScreen .section .title .reset:active {
	opacity: 0.5;
}

.settingsScreen .section > .label:not(:last-child) {
	margin: 10px 0 15px 0;
}

.settingsScreen .section > .label,
.settingsScreen .section .subsectionTitle {
	margin: 10px 0 5px 0;
}

.settingsScreen .section .subsectionTitle {
	font-weight: bold;
}

.settingsScreen .toggle {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.settingsScreen .toggle .checkbox {
	width: 25px;
	height: 25px;
	border-radius: 8px;
	margin-right: 10px;
	background: var(--page-background-color);
	color: var(--accent-color-text-color);
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: background-color 0.1s ease;
}

.settingsScreen .toggle .checkbox.checked {
	background: var(--app-accent-color);
}

.settingsScreen .toggle .checkbox svg {
	opacity: 0;
	transition: opacity 0.1s ease;
}

.settingsScreen .toggle .checkbox.checked svg {
	opacity: 1;
}

.settingsScreen .toggle .label {
	margin: 0;
	font-weight: bold;
}

.settingsScreen .colorSelector .picker {
	display: flex;
	align-items: center;
	vertical-align: center;
}

.settingsScreen .colorSelector .picker {
	display: inline-block;
}

.settingsScreen .colorSelector .label {
	display: inline-block;
	margin-bottom: 3px;
}

.settingsScreen .section > p:last-child {
	margin-bottom: 0;
}
